<h1><%= @instructor.first_name + " " + @instructor.last_name %> </h1>
<br>
<h2>List of Courses</h2>
<% @instructor.courses.each do |course| %>
<ul>
  <%= course.subject %>
</ul>
<% end %>
<%= link_to "Back", instructors_path %>
<%= link_to 'Edit Instructor', edit_instructor_path(@instructor) %>
<%= link_to 'Delete Instructor', @instructor, method: :delete, confirm: 'Are you sure?' %>
