<h1>All Courses</h1>
<%= link_to "Link to Students", students_path %>
<br>
<%= link_to "Link to Instructors", instructors_path %>
<br>
<%= link_to "Add Course for Instructor or Student", new_course_path %>

<table>
  <thead>
    <tr>
      <th>
        Courses
      </th>
      <th>
        Instructors
      </th>
    </tr>
  </thead>
  <% @courses.each do |course| %>
  <tbody>
    <tr>
      <td>
        <%= course.subject %>
      </td>
      <td>
        <%= course.instructor %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
